@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* || RESET */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLE */
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #00252e;
}

a:link {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

/* || HEADER */

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.7rem;
  margin-bottom: 8rem;
}

.header__logo {
  width: 10.4rem;
}

.header__cta {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  padding: 0.5rem 2.2rem;
  border-radius: 10rem;
  background-color: #fff;
  color: #00252e;
  font-weight: 700;
  box-shadow: 0px 3px 11px 0px #00000018;
}

/* || HERO */

.hero {
  background-color: hsl(193, 100%, 96%);
  background-image: url(/images/bg-hero-mobile.svg);
  margin-bottom: 6rem;
  width: 100%;
  background-repeat: no-repeat;
}

.hero__text-box {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  font-size: clamp(2.4rem, 2.5vw, 4rem);
  line-height: 3.6rem;
  margin-bottom: 2.4rem;
}

.hero__description {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  /* line-height: 2.4rem; */
  margin-bottom: 3.2rem;
}

.hero__cta {
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
  font-weight: 700;
  color: #fff;
  padding: 1.2rem 6rem;
  border-radius: 10rem;
  background-color: #ff52c1;
  margin-bottom: 7rem;
  box-shadow: 2px 3px 6px 1px #ff52c12a;
}

.hero__cta:hover,
.hero__cta:active,
.header__cta:hover,
.header__cta:active {
  opacity: 0.8;
}

.hero__img {
  width: 100%;
  margin-bottom: 3.6rem;
}

/* || FEATURE */

.feature {
  padding: 0 4rem;
  text-align: center;
  border: 1px solid #fff;
  margin-bottom: 4rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 14px 0px #00000012;
}

.feature__img-box {
  margin: 2.4rem auto;
  max-width: 256px;
  max-height: 256px;
}

.feature__img {
  width: 100%;
}

.feature__title {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  line-height: 3rem;
  margin-bottom: 1.6rem;
}

.feature__description {
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  color: #808e9a;
  line-height: 2.1rem;
  margin-bottom: 3.3rem;
}

/* || FOOTER */

footer {
  margin-top: 23rem;
  background-color: #00252e;
  position: relative;
}

.footer__card {
  width: 92%;
  max-width: 80rem;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px #00000012;
  border-radius: 1.2rem;
  position: absolute;
  left: 50%;
  top: -115px;
  transform: translate(-50%);
}

.card__title {
  font-size: clamp(1.8rem, 2.5vw, 3.2rem);
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.card__cta {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 700;
  padding: 1.2rem 5rem;
  border-radius: 10rem;
  background-color: #ff52c1;
  color: #fff;
  box-shadow: 0px 6px 13px 0px #00252e39;
}

.card__cta:hover,
.card__cta:active {
  opacity: 0.8;
}

.footer__logo {
  width: 17rem;
  margin-top: 14rem;
  margin-bottom: 2.5rem;
}

footer p {
  color: #fff;
}

.contact img {
  width: 2rem;
  align-self: flex-start;
}

.contact__flex {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.4rem;
}

li a {
  line-height: 2.7rem;
  color: #fff;
  margin-bottom: 1.6rem;
}

.social__icons {
  text-align: center;
  margin: 2.4rem 0;
}

.social__icons a:hover,
.social__icons a:active {
  filter: invert(67%) sepia(54%) saturate(447%) hue-rotate(285deg)
    brightness(101%) contrast(102%);
}

.fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 1.2rem;
  border-radius: 50%;
  color: #fff;
  outline: 1px solid #fff;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-bottom: 4.6rem;
  text-align: center;
}

/* || MEDIA QUERY */

@media only screen and (min-width: 700px) {
  .hero__flex {
    display: flex;
    gap: 1rem;
  }

  .hero__text-box {
    width: 50%;
  }

  .hero__img-box {
    width: 50%;
  }

  .feature {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .feature__text-box {
    width: 50%;
    margin: 2.4rem 0;
    padding: 1rem;
  }

  .feature__img-box {
    width: 50%;
    max-width: 44rem;
    max-height: 44rem;
  }

  .footer__card {
    padding: 5.6rem 1rem;
  }

  .card__title {
    margin-bottom: 3.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .hero__header {
    padding: 6.8rem, 6.8rem, 0, 6.8rem;
    margin-bottom: 7rem;
  }

  .header__logo {
    width: 20rem;
  }

  .header__cta {
    padding: 1.5rem 6.5rem;
    border-radius: 10rem;
  }

  .hero {
    background-image: url(/images/bg-hero-desktop.svg);
    margin-bottom: 16rem;
  }

  .hero__flex {
    justify-content: space-between;
  }

  .hero__text-box {
    width: 43%;
    text-align: left;
    padding: 7.5rem 1rem 7.5rem 0;
  }

  .hero__img-box {
    width: 52%;
  }

  .hero__title {
    line-height: 6rem;
    margin-bottom: 3.2rem;
  }

  .hero__description {
    line-height: 2.7rem;
  }

  .hero__cta {
    padding: 1.8rem 7rem;
  }

  .feature {
    height: 440px;
    padding: 0 1rem 0 12rem;
    text-align: left;
    justify-content: space-between;
  }

  .feature__text-box {
    width: 50%;
  }

  .feature__img-box {
    width: 40%;
    margin: 2.4rem 0;
  }

  .feature__title {
    line-height: 4.2rem;
  }

  .feature__description {
    line-height: 2.7rem;
  }

  .feature__one .feature__img-box,
  .feature__three .feature__img-box {
    order: 1;
  }

  nav {
    display: flex;
    gap: 14rem;
  }

  .footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .social__icons {
    margin: 0;
  }

  .copyright {
    text-align: right;
  }
}
